/*  --------------------RESET CSS-----------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -----------AFTER STYLE RESET--------- */

body {
    background: lightskyblue;
    background-size: contain;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    justify-content: center;
    text-align: center;
}
.Main-Container {

    width: 400px;
    background: lightgoldenrodyellow;
}
.Main-Container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.main-square {
    display: flex;
    flex-wrap: wrap;
    width: 120px;
    height: 120px;
    border: 1px solid black;
}
.small-square {
    display: flex;
    width: 39px;
    height: 39px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
input {
    max-width: 50px;
    max-height: 50px;
    font-size: 16px;
    text-align: center;
}